<!DOCTYPE html>
<html lang="en">

<head>
    <title>Usuarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        </button> <a class="navbar-brand" href="/">Pantalla principal</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a>
                </li>
                <li class="active nav-item"><a href="/usuario" class="nav-link">Usuarios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Usuario Info</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <p>
                <div class="caption">Algunos usuarios serán moderadores, que podrán recibir quejas y reportar a otros usuarios, así como algunas tarea de administración.
                </div>
                <!-- <img src="https://assets.digitalocean.com/articles/docker_node_image/sawshark.jpg" alt="Sawshark"> -->
            </p>
        </div>
        <div class="col-lg-4">
            <p>
                <div class="caption">En principio sólo habrá un administrador, que tristemente seré yo</div>
                <!-- <img src="https://assets.digitalocean.com/articles/docker_node_image/sammy.png" alt="Sammy the Shark"> -->
            </p>
        </div>
	<div class="col-lg-4">
            <p>
              <div class="caption">Usuarios Registrados</div>
                  <code>
                     <% usuarios.forEach(function(usuario) { %>
                        Nombre: <%= usuario.nombre %><br>
                        Fecha alta: <%= new Date(usuario.meta.fecha_alta).toLocaleString() %><br>
                        Rol: <%= usuario.rol %><br>
                        <% usuario.amigos.forEach(function(amigo) { %>
                            Amigo: <%= amigo._id %><br>
                        <% }); %>
                        <hr>
                     <% }); %>
                  </code>
            </p>
        </div>
    </div>
  </div>
</html>
